.topnav
{
    background-color: white;
    z-index: 2;
    height: 60px;
    /* padding: 1px; */
    /* height: 50px; */
     /* box-shadow: 0 2px 5px 0;
     position: fixed; 
    top: 0;
    width: 100%;   */
} 

.sidenav{
    background-color: #353a40;
    /* position: fixed; */
    left: 0;
     /* width: 230px; */
    /* margin-top: 10px; */
    transition: margin-left 0.8s;
    z-index: 1;
}
.nav-link
{
    /* text-align: center; */
    color: white;
    font-size: 15px;
}
.nav-link:hover
{
    background-color: white;
    color: black;
    border-radius: -20px;
}
.projectdetails
{
    margin-top: 90px;
    /* height: 40px; */
}
.project
{
    border: 1px solid white;
    padding: 2px;
    box-shadow: 2px 2px 2px 2px rgb(247, 241, 241);
    border-radius: 5px;
    height: 50px;
}
.item 
{
    border: 1px solid white;
    padding: 2px;
    box-shadow: 2px 2px 2px 2px rgb(247, 241, 241);
    border-radius: 5px;
    height: 50px;
}
/* .shadow
{
    padding:1px;
    margin-left: 10px;
} */
table
{
    margin-top: 20px;
}
.Itemdetails
{
    margin-top: 20px;
}
.fa-solid
{
    color: black;
}
.fa-magnifying-glass
{
    /* background-color: #353a40; */
    color: white;
}
/* .nav-hidden
{
    width: 250px;
} */
/* .my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
} */

/* tbody{
    height:200px;
    display:block;
    overflow:scroll
  } */
  table, tr td {
    border: 1px solid #333
}

  tbody {
    display: block;
    height: 170px;
    overflow: auto;
}
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
}
/* thead {
    width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width 
} */
table {
    width: 400px;
}
/* .nav-hidden {
    margin-left: -250px;
} */

/* .fcc-hidden {
    margin-left: -246px;
} */

/* Main content */
.main-content {
    transition: margin-left 0.8s;
    
}

.main-content-expanded {
    margin-left: 0;
}

.main-content-collapsed {
    margin-left: -280px;
}
#btn
{
    background-color:  #353a40;
    outline: none;
    border: none;
}
